.list-card{
    margin: 50px;
    color: black;
    background-color: antiquewhite;
    border-radius: 5%;
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
}

#wrapperContenet{
    display: inline;
    /* text-align: center; */
}