.btn-modal{
    background-color: transparent;
    border: none;
    font-weight: bold;
    color:black;
    font-size: 1rem;
}

.btn-modal:hover{
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    width: 332px;
    max-height: 483px;
    background-color: #ffdd6d;
}

.modal-body{
    width: 270px;
    max-height: 396px;
    background-color: #FFF0BF;
}

textarea{
    background-color: #FFF0BF;
}

.modal-footer{
    max-width: 270px;
}