/*OK*/

.section-3{
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    background: linear-gradient(to right, rgba(158,216,180,1) 0%, rgba(218,221,219,1) 43%, rgba(249,212,92,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ed8b4', endColorstr='#f9d45c', GradientType=1 );
  

}

.title-contact{
    width: 100%;
    height: 10%;
    margin-top: 40px;
}

.title-contact h1{
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.div-img-contact{
  width: 30%;
  height:60%;
  margin-left: 70px;
}

.img-contact{
    margin-bottom: 80px;
    width: 400px;
    height: 400px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.form-contact{
    width: 50%;
    height: 80%;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-top: 40px;
  
 
}

.form-name, .form-email{
    width: 400px;
    height: 50px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #2E7BF8;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    text-indent: 20px;
}

.margin-t{
    margin-top:40px;
}


.form-msj{
    width: 560px;
    height: 170px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 40px;
    border: 2px solid #2E7BF8;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    text-indent: 20px;
    padding-top: 20px;
    font-weight: 500;
}



.right{
    margin-left: 330px;
    margin-top: 40px;
    
}




@media only screen and  (min-width:290px) and (max-width: 519px){
/*OK*/

    .section-3{
        width: 100%;
        height: 850px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
       
    }

    .title-contact{
        width: 100%;
        height: 10%;
        margin-top: 40px;
        
    }

    .title-contact h1{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    .div-img-contact{
        width: 80%;
        height:30%;
        margin: 0 auto 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-contact{
        width: 95vw;
        height: 50vh;
        margin: 0 auto;
    }

    .form-contact{
        width: 90%;
        height: 90%;
        margin: 0 auto;
     }

    .form-name, .form-email{
        width:90vw;
        height: 40px;
        display: block;
        font-size: 15px;
        text-indent: 20px;
        margin: 30px auto;
    }

    
 .form-msj{
    width: 90vw;
    height: 170px;
    display: block;
    font-size: 15px;
    margin-top: 40px;
    text-indent: 20px;
    padding-top: 20px;
    margin: 40px auto 0;
}

.btn-e{
    border-radius: 60px;
    padding: 8px 30px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    box-shadow: 14px 10px 20px 0 rgba(20, 20, 20, 0.3);
    background-color: #ECB539;
    margin-top: 30px;
    margin-left: 20px;
    width: 80vw;
    background-color: #FFDD6D;
}

}


@media only screen and  (min-width:520px) and (max-width: 749px){
/*OK*/   
    .section-3{
        width: 100%;
        height: 850px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
       
    }

    .title-contact{
        width: 100%;
        height: 10%;
        margin-top: 40px;
        
    }

    .title-contact h1{
      
        font-size: 4vw;
        font-weight: 500;
        text-align: center;
    }

    .div-img-contact{
      
        width: 80%;
        height:30%;
        margin: 0 auto 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-contact{
        width: 55vw;
        height: 50vh;
        margin: 0 auto;
        
      
    }

    .form-contact{
        width: 90%;
        height: 90%;
        margin: 0 auto;
    }

    .form-name, .form-email{
        width:90vw;
        height: 40px;
        display: block;
        font-size: 15px;
        text-indent: 20px;
        margin: 30px auto;
    }

    
.form-msj{
    width: 90vw;
    height: 170px;
    display: block;
    font-size: 15px;
    margin-top: 40px;
    text-indent: 20px;
    padding-top: 20px;
    margin: 40px auto 0;
}

.btn-e{
    border-radius: 60px;
    padding: 8px 30px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 30px;
    width: 80vw;
}

}

@media only screen and (min-width: 750px) and (max-width:991px){
    /*OK*/
    .section-3{
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }  

    .title-contact{
        width: 100%;
        height: 10%;
        margin-top: 20px;
        
    }

    .title-contact h1{
      
        font-size: 3vw;
        font-weight: 500;
        text-align: center;
    }

    .div-img-contact{
      
        width: 40%;
        height:30%;
        margin: 12vh auto 10px;
        text-align: center;
        display: flex;
    }
      
    .img-contact{
       
        width: 40vw;
        height: 60vh;
        margin: 10px auto;
        
      
    }

    .form-contact{
        width: 60%;
        height: 90%;
        margin: 0 auto;
    }

    .form-msj{
        width: 54vw;
        height: 170px;
        display: block;
        margin: 40px auto 0;
    }

    .form-name, .form-email{
        margin: 40px auto;
        width: 54vw;
    }

    .btn-e{
        border-radius: 60px;
        padding: 8px 30px;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 21vw;
        width: 60%;
        
    }


    


}


@media only screen and (min-width: 992px) and (max-width:1299px){
/*ok*/

    .section-3{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-contact{
    width: 100%;
    height: 10%;
    margin-top: 40px;
}

.title-contact h1{
   font-size: 38px;
   text-align: center;
}


.div-img-contact{
    width: 30%;
    height:60%;
    margin-left: 10px;
  }
  
  .img-contact{
      margin-bottom: 80px;
      width: 400px;
      height: 400px;
}
  
  .form-contact{
      width: 50%;
      height: 80%;
      margin-bottom: 20px;
      margin-left: 170px;
      margin-top: 40px;
    
   
  }
  
  .form-name, .form-email{
      width: 90%;
      height: 50px;
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 500;
      border: 2px solid #2E7BF8;
      box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
      text-indent: 20px;
  }
  
  .margin-t{
      margin-top:40px;
  }
  
  
  .form-msj{
      width: 90%;
      height: 170px;
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      margin-top: 40px;
      border: 2px solid #2E7BF8;
      box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
      text-indent: 20px;
      padding-top: 20px;
      font-weight: 500;
  }
  
  .btn-e{
    border-radius: 60px;
    padding: 8px 30px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    box-shadow: 14px 10px 20px 0 rgba(20, 20, 20, 0.3);
    background-color: #ECB539;
    margin-top: 30px;
    margin-left: 20vw;
    width: 50%;
    background-color: #FFDD6D;

  }
}